@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MehrspaltigeSeite>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="container">
    
    @if (Model.HasValue("freeContent")){
        @Html.GetGridHtml(Model, "freeContent","bootstrap3")
    }
</div>